[Unit]
Description=Hildon Control Panel Personalisation
ConditionPathExists=!/etc/hildon/theme/index.theme

[Service]
ExecStart=/usr/bin/personalisation /usr/share/themes/alpha
Type=oneshot

[Install]
WantedBy=multi-user.target
